* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  margin: 0;
  color: #172033;
  background-color: #f5f7fb;
  font-family: Arial, "Noto Sans KR", sans-serif; /* 나중에 바꿀 폰트 */
}

li {
  list-style: none;
}

button,
input,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

/*=================================헤더===============================*/
#header {
  height: 76px;
  border-bottom: 1px solid #e5e9f2;
  background-color: white;
}

#header-inner {
  width: 94%;
  max-width: 1500px;
  height: 100%;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.logo-title {
  margin: 0;
  color: #175cd3;
  font-size: 20px;
}

.logo-subtitle {
  margin: 2px 0 0;
  color: #5178b8;
  font-size: 12px;
}

.nav {
  display: flex;
  gap: 38px;
}

.nav a {
  padding: 27px 0 23px;
  color: #333333;
  text-decoration: none;
}

.logo-wrap {
  display: flex;
  align-items: center;
}
.logo-wrap > a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

/* ============메인영역===============*/

#main {
  width: 94%;
  max-width: 1500px;
  margin: 28px auto;
}

#footer {
  width: 100%;

  height: 100px;
}

.footer-inner {
  width: 94%;
  max-width: 1500px;
  margin: 14px auto;
}

.logo-wrap {
  display: flex;
}
.main_logo {
  width: 85px;
}

/* ============메인 내부 요소 ===============*/

.main-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-image: linear-gradient(#cde3fb, #eff5fc);
  border-radius: 12px;
}

.left-main {
  width: 60%;
}

.main-title {
  padding: 10px;
}

.main-title > h2 {
  padding: 0px;
  margin: 0px;
  margin-top: -15px;
  margin-bottom: 15px;
  font-size: 35px;
  font-weight: bold;
  color: #175cd3;
}

.main-title > div {
  margin: -10px 0px 10px 0px;
}

.main-topMenu {
  width: 100%;
  background-color: #fff;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-list {
  display: flex;
  padding: 10px;
}

.btn-list > li {
  display: flex;
  width: 60px;

  justify-content: center;
  margin-right: 15px;
}

.btn-list > li > button {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #fff;
  border: 1px solid #c6c5c5;
  border-radius: 7px;
  font-size: 14px;
  padding: 7px 5px;
}

.main-topMenu > div > div > input {
  margin-right: 20px;
  height: 40px;
  border-radius: 12px;
  font-size: 16px;
  border: 1px solid #c6c5c5;
}

.main-topMenu > div {
  display: flex;
}

.input-wrap {
  position: relative;
}

.input-wrap > .search-btn {
  background-color: transparent;
  width: 12px;
  position: absolute;
  right: 22%;
  top: 14%;
  border: none;
}

/*==============왼쪽 내부 카드=======================*/
.cloth-grid {
  padding: 10px;
  display: flex;
  /* justify-content: space-between; */
  margin-top: 15px;
  flex-wrap: wrap;
  height: 550px;
  gap: 20px 10px;
  overflow-y: scroll;
  scrollbar-width: none;
}

.cloth-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 23%;
  height: 250px;
  border-radius: 12px;
  box-shadow: 2px 2px #eeeeee;
  border: 1px solid #eeeeee;
  margin-top: 5px;
}

.cloth-card > div {
  width: 190px;
  height: 200px;

  border-radius: 12px;
}
.cloth-card > div > img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
}
.cloth-card > h4 {
  margin: 5px 0;
}

.badge-wrap {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 3px 5px;
  border-radius: 10px;

  font-size: 11px;
  font-weight: 600;
  white-space: nowrap;
}

.badge-green {
  color: #398354;
  background-color: #e9f7ed;
}

.badge-blue {
  color: #5074a8;
  background-color: #eaf1fb;
}

/* 우측 설명 칸 */
.right-main {
  height: 650px;
  border: 1px solid #c4c4c4;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-color: #fff;
  width: 35%;
}

.right-main > div > img {
  width: 220px;
}

.imgBox {
  width: 100%;
  height: 350px;
  display: flex;
}
.clothImg > img {
  width: 250px;
  height: 350px;
  object-fit: cover;
  object-position: center;
}

.symbolImg {
  display: flex;
  flex-wrap: wrap;
}
.symbolImg > div {
  display: flex;
  flex-wrap: wrap;
  width: 230px;
  height: 350px;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}
.symbolImg > div > div img {
  display: flex;
  padding: 3px;
  width: 100px;
  height: 140px;
  object-fit: fill;
  object-position: bottom;
  border-radius: 12px;
}
.guide-detail {
  padding: 10px;
  margin-left: 30px;
}

.title2 {
  padding: 10px;
  color: #7d7d7d;
  text-align: center;
  margin-top: 55%;
}

.green-button {
  padding: 10px;
  border-radius: 12px;
  border-color: #fff;
  color: #398354;
  background-color: #e9f7ed;
  margin-right: 10%;
  margin-top: 20px;
}

.blue-button {
  padding: 10px;
  margin-top: 20px;
  border-color: #fff;
  border-radius: 12px;
  color: #5074a8;
  background-color: #eaf1fb;
}
.button-wrap {
  display: flex;
  justify-content: center;
}
