* {
  box-sizing: border-box;
  border: 1px solid red;
}

body {
  margin: 0;
  color: #172033;
  background-color: #f5f7fb;
  font-family: Arial, "Noto Sans KR", sans-serif; /* 나중에 바꿀 폰트 */
}

li {
  list-style: none;
}

button,
input,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

/*=================================헤더===============================*/
#header {
  height: 76px;
  border-bottom: 1px solid #e5e9f2;
  background-color: white;
}

#header-inner {
  width: 94%;
  max-width: 1500px;
  height: 100%;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.logo-title {
  margin: 0;
  color: #175cd3;
  font-size: 20px;
}

.logo-subtitle {
  margin: 2px 0 0;
  color: #5178b8;
  font-size: 12px;
}

.nav {
  display: flex;
  gap: 38px;
}

.nav a {
  padding: 27px 0 23px;
  color: #333333;
  text-decoration: none;
}

.logo-wrap {
  display: flex;
}

/* ============메인영역===============*/

#main {
  width: 94%;
  max-width: 1500px;
  margin: 28px auto;
  height: 500px;
}

#footer {
  width: 100%;

  height: 100px;
}

.footer-inner {
  width: 94%;
  max-width: 1500px;
  margin: 14px auto;
}

.logo-wrap {
  display: flex;
}
.main_logo {
  width: 85px;
}

/* ============메인 내부 요소 ===============*/

.main-inner {
  display: flex;
  justify-content: space-between;
}

.left-main {
  width: 60%;
  height: 400px;
}

.right-main {
  width: 35%;
  height: 400px;
}

.main-title {
  padding: 10px;
}

.main-title > div {
  margin: -10px 0px 10px 0px;
}

.main-topMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-list {
  display: flex;
  padding: 10px;
}

.btn-list > li {
  display: flex;
  width: 60px;

  justify-content: center;
  margin-right: 30px;
}

.btn-list > li > button {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #fff;
  border: 1px solid #c6c5c5;
  border-radius: 7px;
  font-size: 14px;
  padding: 7px 5px;
}
.main-topMenu > div > div > input {
  margin-right: 20px;
  height: 40px;
  border-radius: 12px;
  font-size: 16px;
  border: 1px solid #c6c5c5;
}

.main-topMenu > div {
  display: flex;
}

.input-wrap {
  position: relative;
}

.input-wrap > .search-btn {
  background-color: transparent;
  width: 12px;
  position: absolute;
  right: 22%;
  top: 14%;
  border: none;
}
